
body{
    margin: 0;
    width: 100%; 
    background: #7caca5;
}

.main{
    width: 100%;
    height: 1080px;
    position: relative;
}

.img-background{
    width: 100%;
    height: auto;
}

h1{
    width: 100%;
    /* margin-top: 15%; */
    /* position: absolute; */
    font-size: 6vw;
    font-weight: bold;
    text-align: center; 
    color: rgb(226, 51, 51);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
}


/* whithout image */
#clock{
    width: 100%;
    font-size: 9vw;
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-top: -6%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;


    margin-left:auto;
    margin-right:auto;     
}

/* #clock{
    width: 100%;
    position: absolute;
    font-size: 9vw;
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-top: 8%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;

    

    
    position: absolute;
    margin-top: 20%;

    left: 50%;
    margin-left: -19.5%; 
    top: 48%;
    margin-top: -200px;  
    
}  */

.table-style{
border-collapse: collapse;
text-align: center;
/* margin: 25px 0; */
font-size: 0.9em;
font-family: sans-serif;
min-width: 400px;
border-radius: 5px 5px 5px 5px;
overflow: hidden;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-style thead tr {
background-color: #009879;
color: #ffffff;
text-align: center;
}

.table-style th,
.table-style td {
    padding: 12px 15px;
}

.table-style tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-style tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-style tbody tr:nth-of-type(odd) {
    background-color: #bbbbbb;
}

.table-style tbody tr:last-of-type {
    border-bottom: 5px solid #009879;
}

/* td, th {
    border: 1px solid #363636;
    text-align: center;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #959595;
} */